

body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	/**background-color: #F08080; */
	background-color: #dfd5d9;
	margin-left: 30%;
	margin-right: 30%;
}

.header {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	background-color: #dfd5d9;
	text-align: center;
}

.button {
	text-align: center;
	padding: 25px;

	background-color: #000000;
	color: #ffffff;
}

#topic {
	text-align: left;

}

#save {
	padding: 1%;
	color: #e5135d;

}

#save:hover {
	color: #000000;
}