body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	/**background-color: #F08080; */
	background-image: url("icons/pinkBackground.png");
	width: 200px;
    overflow: hidden;

}

.header {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
}

.button {
	text-align: center;
	padding: 2%;

	background-color: #000000;
	color: #ffffff;
}

.button:hover {
	color: #fbc0e1; /* Fallback for older browsers */


}

#topic {
	text-align: left;


}

#save {
	color: #000000;

}

#save:hover {
	color: #e5135d;
}

#success {
	text-align: center;
	font-size:12px;
}

a {
	 color:inherit;
	text-decoration: none;
}

#bookmarks {
	color: #000000;
}
